<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2018-2020 Headsoft. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Headsoft.USBPorts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBPorts</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Macmini8,1-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9ded8086</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleIntelCNLUSBXHCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>3600</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5200</integer>
				<key>port-count</key>
				<data>EAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS01</string>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS02</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>HS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS03</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>HS04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>HS04</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>HS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HS05</string>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>HS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HS06</string>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HS10</string>
						<key>port</key>
						<data>CgAAAA==</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SS01</string>
						<key>port</key>
						<data>DQAAAA==</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SS02</string>
						<key>port</key>
						<data>DgAAAA==</data>
					</dict>
					<key>SS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SS03</string>
						<key>port</key>
						<data>DwAAAA==</data>
					</dict>
					<key>SS04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>SS04</string>
						<key>port</key>
						<data>EAAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>Macmini8,1</string>
		</dict>
		<key>Macmini8,1-TBTU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>TBTU</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x15db8086</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIAR</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>3600</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5200</integer>
				<key>port-count</key>
				<data>BAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>name</key>
						<string>HS01</string>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>name</key>
						<string>HS02</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>SSP1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>name</key>
						<string>SSP1</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>SSP2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>name</key>
						<string>SSP2</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>Macmini8,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
